<a href="https://colab.research.google.com/github/LuisDLCP/MIneria-datos_Examen-final/blob/main/3)crear_modelo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
root_path="./drive/MyDrive/Master_Program_CC/AprendizajeAutomatico/Examen_final/"
dataset_path = root_path + "Dataset/"
!ls {dataset_path}

Dataset2.csv  Dataset2.xlsx  Dataset.csv  Dataset.xlsx

## 1) Import the dataset

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_excel(dataset_path + "Dataset2.xlsx")
df.head()

                            id     media  ...  max_frec  clase
0  data_original1_0001_s00.wav -0.000830  ...    2944.0      0
1  data_original1_0002_s00.wav -0.000550  ...    3679.0      0
2  data_original1_0003_s00.wav  0.002821  ...    5124.0      0
3  data_original1_0004_s00.wav  0.002699  ...    4346.0      0
4  data_original1_0005_s00.wav -0.000354  ...    4561.0      0

[5 rows x 25 columns]

In [ ]:
df.shape

(22484, 25)

## 2) Getting X and Y

In [ ]:
# Getting X and Y 
X = df.drop(['id', 'clase'],axis=1) # select all columns except 'id' and 'clase'
X.head()

      media  media_absoluta   mediana  ...  percentil10  energia_spect  max_frec
0 -0.000830        0.024475 -0.000824  ...     0.612396       0.021406    2944.0
1 -0.000550        0.028992 -0.000671  ...     0.546204       0.019570    3679.0
2  0.002821        0.052185  0.000397  ...     0.689453       0.017571    5124.0
3  0.002699        0.062958  0.001434  ...     0.673950       0.028427    4346.0
4 -0.000354        0.062561 -0.000275  ...     0.860596       0.022101    4561.0

[5 rows x 23 columns]

In [ ]:
y = df['clase']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: clase, dtype: int64

## 3) Train -test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75)

In [ ]:
y_train.shape

(16863,)

In [ ]:
X_train.shape

(16863, 23)

In [ ]:
# Verify spplited data is balanced 
y_train.groupby(y_train).count()

clase
0     1502
1     1531
2     1519
3     1533
4     1533
5     1526
6     1558
7     1542
8     1514
9     1549
10    1556
Name: clase, dtype: int64

## 4) Normalize data

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(X_train)

StandardScaler()

In [ ]:
# Now apply the transformations to the data:
X_train = scaler.transform(X_train) # 2D array
X_test = scaler.transform(X_test) # 2D array

## 5) Training the model

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
mlp = MLPClassifier(hidden_layer_sizes=(10,10,10),max_iter=1500) # 3 hidden layers, with 13 neurons each

In [ ]:
mlp.fit(X_train,y_train)

MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1500)

## 6) Predictions and Evaluation

In [ ]:
predictions = mlp.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       1.00      0.94      0.97       542
           1       1.00      1.00      1.00       513
           2       1.00      1.00      1.00       525
           3       1.00      1.00      1.00       511
           4       1.00      1.00      1.00       511
           5       0.99      1.00      1.00       518
           6       0.99      1.00      1.00       486
           7       0.96      1.00      0.98       502
           8       1.00      1.00      1.00       530
           9       1.00      1.00      1.00       495
          10       1.00      1.00      1.00       488

    accuracy                           0.99      5621
   macro avg       0.99      0.99      0.99      5621
weighted avg       0.99      0.99      0.99      5621

In [ ]:
y_test

14090     5
5750     10
753       8
6172      3
10776     6
         ..
5221     10
14663     9
12336     8
4983     10
22471     0
Name: clase, Length: 5621, dtype: int64

In [ ]:
predictions

array([ 5, 10,  8, ...,  8, 10,  6])

In [ ]:
len(predictions)

5621