<a href="https://colab.research.google.com/github/LuisDLCP/MIneria-datos_Examen-final/blob/main/limpieza_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

## 1) Read the dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
root_path="./drive/MyDrive/Master_Program_CC/AprendizajeAutomatico/Examen_final/"
dataset_path = root_path + "Dataset/"
!ls {dataset_path}

Dataset.csv  Dataset.xlsx

In [ ]:
df = pd.read_excel(dataset_path + "Dataset.xlsx")
df.head()

                            id     media  ...  max_frec  clase
0  data_original1_0001_s00.wav -0.000830  ...      2944      0
1  data_original1_0002_s00.wav -0.000550  ...      3679      0
2  data_original1_0003_s00.wav  0.002821  ...      5124      0
3  data_original1_0004_s00.wav  0.002699  ...      4346      0
4  data_original1_0005_s00.wav -0.000354  ...      4561      0

[5 rows x 25 columns]

In [ ]:
df.groupby("clase").count()

         id  media  media_absoluta  ...  percentil10  energia_spect  max_frec
clase                               ...
0      2044   2044            2044  ...         2044           2044      2044
1         1      1               1  ...            1              1         1
2         5      5               5  ...            5              5         5
3         5      5               5  ...            5              5         5
4         2      2               2  ...            2              2         2
5        18     18              18  ...           18             18        18
6         6      6               6  ...            6              6         6
7        52     52              52  ...           52             52        52
8         4      4               4  ...            4              4         4
9         3      3               3  ...            3              3         3
10        2      2               2  ...            2              2         2

[11 rows x 24 columns]

## 2) Identify outliers
Replace outliers by the mean value

In [ ]:
import numpy as np

In [ ]:
def replace(group):
    mean, std = group.mean(), group.std()
    outliers = (group - mean).abs() > 3*std
    group[outliers] = mean        # or "group[~outliers].mean()"
    return group

df_new = df.groupby('clase').transform(replace)
df_id = df["id"]
df_clase = df["clase"]
df2 = pd.concat([df_id, df_new, df_clase], axis=1, sort=False)
df2.head()

                            id     media  ...  max_frec  clase
0  data_original1_0001_s00.wav -0.000830  ...    2944.0      0
1  data_original1_0002_s00.wav -0.000550  ...    3679.0      0
2  data_original1_0003_s00.wav  0.002821  ...    5124.0      0
3  data_original1_0004_s00.wav  0.002699  ...    4346.0      0
4  data_original1_0005_s00.wav -0.000354  ...    4561.0      0

[5 rows x 25 columns]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2142 entries, 0 to 2141
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2142 non-null   object
 1   media             2142 non-null   float64
 2   media_absoluta    2142 non-null   float64
 3   mediana           2142 non-null   float64
 4   mediana_absoluta  2142 non-null   float64
 5   rms               2142 non-null   float64
 6   std               2142 non-null   float64
 7   varianza          2142 non-null   float64
 8   kurtosis          2142 non-null   float64
 9   skewness          2142 non-null   float64
 10  cruce_cero        2142 non-null   float64
 11  percentil0        2142 non-null   float64
 12  percentil1        2142 non-null   float64
 13  percentil2        2142 non-null   float64
 14  percentil3        2142 non-null   float64
 15  percentil4        2142 non-null   float64
 16  percentil5        2142 non-null   float64
 17  percentil6        2142 non-null   float64
 18  percentil7        2142 non-null   float64
 19  percentil8        2142 non-null   float64
 20  percentil9        2142 non-null   float64
 21  percentil10       2142 non-null   float64
 22  energia_spect     2142 non-null   float64
 23  max_frec          2142 non-null   float64
 24  clase             2142 non-null   int64
dtypes: float64(23), int64(1), object(1)
memory usage: 418.5+ KB

## 3) Oversampling

In [ ]:
max_size = df2['clase'].value_counts().max()
max_size

2044

In [ ]:
lst = [df2]
for class_index, group in df2.groupby('clase'):
    lst.append(group.sample(max_size-len(group), replace=True))
df3 = pd.concat(lst)
df3.sort_index(inplace=True)
df3.head()

                            id     media  ...  max_frec  clase
0  data_original1_0001_s00.wav -0.000830  ...    2944.0      0
1  data_original1_0002_s00.wav -0.000550  ...    3679.0      0
2  data_original1_0003_s00.wav  0.002821  ...    5124.0      0
3  data_original1_0004_s00.wav  0.002699  ...    4346.0      0
4  data_original1_0005_s00.wav -0.000354  ...    4561.0      0

[5 rows x 25 columns]

In [ ]:
df3.tail()

                               id     media  ...  max_frec  clase
2137  data_original1_2138_s00.wav  0.000047  ...    5707.0      0
2138  data_original1_2139_s00.wav -0.000005  ...    5202.0      0
2139  data_original1_2140_s00.wav  0.000236  ...    5579.0      0
2140  data_original1_2141_s00.wav -0.000066  ...    3857.0      0
2141  data_original1_2142_s00.wav -0.000129  ...     387.0      0

[5 rows x 25 columns]

In [ ]:
df3.groupby('clase').count()

         id  media  media_absoluta  ...  percentil10  energia_spect  max_frec
clase                               ...
0      2044   2044            2044  ...         2044           2044      2044
1      2044   2044            2044  ...         2044           2044      2044
2      2044   2044            2044  ...         2044           2044      2044
3      2044   2044            2044  ...         2044           2044      2044
4      2044   2044            2044  ...         2044           2044      2044
5      2044   2044            2044  ...         2044           2044      2044
6      2044   2044            2044  ...         2044           2044      2044
7      2044   2044            2044  ...         2044           2044      2044
8      2044   2044            2044  ...         2044           2044      2044
9      2044   2044            2044  ...         2044           2044      2044
10     2044   2044            2044  ...         2044           2044      2044

[11 rows x 24 columns]

In [ ]:
# Save as excel 
dataset_path="./drive/MyDrive/Master_Program_CC/AprendizajeAutomatico/Examen_final/Dataset/"
df3.to_excel(dataset_path + 'Dataset2.xlsx', index=False)
df3.to_csv(dataset_path + 'Dataset2.csv')